.footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-bottom: 45px;
    height: 50px;
}

.footer-left {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center
}

.footer-right {
    display: flex;
    justify-content: space-around;
    align-items: center;
    img {
        margin-left: 25px;
        width: 50px;
        height: 50px;
        object-fit: contain;
    }
}

@media (max-width: 1000px) {
    .footer {
        height: 60px;
    }
    .footer-left {
        display: none;
    }
}