.section1 {
    padding-top: 100px;
    background-color: rgb(27, 27, 27);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.progress-Bar {
    margin-bottom: 15px;
    width: 30%;
}

.about-me {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 25px;
    color: white;
    p {
        width: 500px;
        text-align: justify;
        color: white;
    }
    h3 {
        font-size: 40px;
    }
}

.profil-pic {
    img {
        margin-top: 55px;
        width: 250px;
        height: 250px;
        object-fit: cover;
        border-radius: 100%;
        object-position: right;
    }
}

.progress {
    margin-bottom: 20px;
    height: 25px;
}

.progress-bar {
    text-align: start;
    padding-left: 15px;
    font-size: 18px;
    background-color: #7649ffd3;
}

.journeys {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.section2 {
    padding-top: 105px;
    padding-bottom: 150px;
    background-color: rgb(27, 27, 27);
    display: flex;
    justify-content: center;
    align-items: center;
}

.journeys {
    width: 1500px;
}

.journey {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: 85px;
}

.journey-circle {
    background-color: #23FCD8;
    border-radius: 100%;
    object-fit: cover;
    padding: 3px;
}

#journeypiccs {
    width: 45px;
    height: 45px;
    background-color: #2DFCD8;
    border-radius: 100%;
}

.info {
    padding-top: 15px;
    color: white;
    font-size: 12px;
    text-align: justify;
}

@media (max-width: 1000px) {
    section {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
    }
    .profil-pic img {
        width: 180px;
        height: 180px;
        object-fit: cover;
        margin-top: 25px;
        margin-bottom: 25px;
    }
    .about-me {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .about-me h3 {
        font-size: 25px;
    }
    .about-me p {
        font-size: 12px;
        width: 100%;
        text-align: center;
    }
    .progress-Bar {
        width: 250px;
    }
    .journeys {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
    }
    .journey {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-left: 0;
        margin-bottom: 25px;
    }
    .info {
        font-size: 12px;
        width: 80%;
        text-align: center;
        margin-top: 15px;
    }
    #journeypiccs {
        width: 40px;
        height: 40px;
        object-fit: cover;
    }
}