section {
    background-color: black;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

img {
    width: 75px;
    height: 75px;
    object-fit: contain;
    margin-left: 45px;
}

.links {
    margin-right: 150px;
    a {
        color: white;
        text-decoration: none;
        list-style: none;
        margin-left: 30px;
        margin-right: 30px;
        font-size: 20px;
        &:hover {
            color: #7649ffd3;
        }
    }
}