.datenschutz {
    background-color: black;
    color: white;
    font-size: 10px;
    text-align: center;
    width: 100%;
}

@media (max-width: 1000px) {
    .datenschutz {
        padding-left: 10px;
        padding-right: 10px;
        margin-bottom: 25px;
    }
}