section {
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.My-work-container {
    padding-bottom: 100px;
    h3 {
        padding-top: 25px;
        color: white;
        text-align: center;
        font-size: 40px;
        padding-bottom: 25px;
    }
}

.category-skill {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    margin-bottom: 150px;
    a {
        display: flex;
        justify-content: center;
        align-items: center;
        background: none;
        text-decoration: none;
        margin-left: 5px;
        border: 2px solid #7649ffd3;
        padding: 20px;
        color: white;
        width: 150px;
        height: 30px;
        font-size: 20px;
    }
}

.myproject {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    img {
        width: 380px;
        height: 250px;
        object-fit: contain;
    }
}

.project {
    position: relative;
    color: white;
    .name-of-projekt {
        position: absolute;
        color: white;
        top: 30px;
        left: 150px;
    }
    .projekt-description {
        position: absolute;
        top: 70px;
        left: 130px;
        width: 200px;
        font-size: 20px;
    }
    .go-to-projekt {
        position: absolute;
        bottom: 60px;
        left: 150px;
        button {
            background: none;
            color: white;
            border: 3px solid #7649ffd3;
            padding: 10px;
            width: 100px;
        }
    }
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    transition: opacity 225ms ease-in-out;
    &:hover {
        transition: opacity 225ms ease-in-out;
        opacity: 1;
        background-color: rgba(0, 0, 0, 0.8);
    }
}

.d-none {
    display: none;
}