<section>
    <div id="contact" class="container my-5 py-5 z-depth-1">


        <!--Section: Content-->
        <section class="px-md-5 mx-md-5 text-center text-lg-left dark-grey-text">

            <style>
                .map-container {
                    height: 200px;
                    position: relative;
                }
                
                .map-container iframe {
                    left: 0;
                    top: 0;
                    height: 100%;
                    width: 100%;
                    position: absolute;
                }
            </style>

            <!--Google map-->
            <div id="map-container-google-1" class="z-depth-1 map-container mb-5">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2662.775286474271!2d11.5011231159454!3d48.133856779223215!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x479dd885b09920ab%3A0x9504bb07a6a80cff!2sF%C3%BCrstenrieder%20Str.%2077%2C%2080686%20M%C3%BCnchen!5e0!3m2!1sde!2sde!4v1627899291213!5m2!1sde!2sde"
                    frameborder="0" style="border:0" allowfullscreen></iframe>
            </div>
            <!--Google Maps-->

            <!--Grid row-->
            <div class="row">

                <!--Grid column-->
                <div class="col-lg-5 col-md-12 mb-0 mb-md-0">

                    <h3 class="font-weight-bold">Contact me</h3>

                    <p style="color: white; text-align: justify;" class="drai">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Id quam sapiente molestiae numquam quas, voluptates omnis nulla ea odio quia similique corrupti magnam, doloremque laborum.</p>

                    <p><span class="font-weight-bold mr-2">Email:</span><a href="">sevdi.azizi96@outlook.de</a></p>
                    <p><span class="font-weight-bold mr-2">Phone:</span><a href="">+49 17623392819</a></p>

                </div>
                <!--Grid column-->

                <!--Grid column-->
                <div class="col-lg-7 col-md-12 mb-4 mb-md-0">

                    <!--Grid row-->
                    <div class="row">

                        <!--Grid column-->
                        <div class="col-md-6">

                            <!-- Material outline input -->
                            <div class="md-form md-outline mb-0">
                                <input type="text" id="form-first-name" class="form-control">
                                <label for="form-first-name">Vorname</label>
                            </div>

                        </div>
                        <!--Grid column-->

                        <!--Grid column-->
                        <div class="col-md-6">

                            <!-- Material outline input -->
                            <div class="md-form md-outline mb-0">
                                <input type="text" id="form-last-name" class="form-control">
                                <label for="form-last-name">Nachname</label>
                            </div>

                        </div>
                        <!--Grid column-->

                    </div>
                    <!--Grid row-->

                    <!-- Material outline input -->
                    <div class="md-form md-outline mt-3">
                        <input type="email" id="form-email" class="form-control">
                        <label for="form-email">E-mail</label>
                    </div>

                    <!-- Material outline input -->
                    <div class="md-form md-outline">
                        <input type="text" id="form-subject" class="form-control">
                        <label for="form-subject">Betreff</label>
                    </div>

                    <!--Material textarea-->
                    <div class="md-form md-outline mb-3">
                        <textarea id="form-message" class="md-textarea form-control" rows="3"></textarea>
                        <label style="padding-top: 10px;" for="form-message">Ihre Nachricht?</label>
                    </div>

                    <button type="submit" class="btn-submit">Submit<i class="far fa-paper-plane ml-2"></i></button>

                </div>
                <!--Grid column-->

            </div>
            <!--Grid row-->


        </section>
        <!--Section: Content-->


    </div>

</section>