.font-weight-bold {
    color: #2DFCD8;
}

section {
    margin-top: -50px;
    background-color: black;
}

.px-md-5 {
    margin-top: 35px;
}

a {
    color: white;
}

.btn-submit {
    background-color: #7649ffd3;
    color: white;
    outline: none;
    text-decoration: none;
    border: none;
    border-radius: 8px;
    padding: 5px;
    width: 100px;
}