<section>


    <div class="myprofil">
        <div class="info-text">
            <p>Hi, <br> I'm <span>Sevdi</span> Azizi <br> Front End develop<span class="span2">e</span>r
            </p>
            <div class="contact-button">
                <a href="#contact">Contact me</a>
            </div>

        </div>
        <div class="profil-pic">
            <img src="../assets/img/Bewerbungsfoto_Final.jpg" alt="">
        </div>


    </div>
    <div class="arrow">
        <a href="#myskills"><img class="arrow-pic" src="../assets/img/arrow2.png" alt=""></a>
    </div>
</section>


<app-my-skills></app-my-skills>
<app-my-work></app-my-work>
<app-about-me></app-about-me>
<app-contact-me></app-contact-me>