section {
    background-color: black;
    height: 95vh;
}

.myprofil {
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-top: 250px;
    p {
        font-size: 80px;
    }
    span {
        color: #7649ffd3;
    }
    .span2 {
        color: #2DFCD8;
    }
    .contact-button {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 250px;
        padding: 20px;
        margin-top: -15px;
        font-size: 20px;
        border: 2px solid #23FCD8;
        a {
            text-decoration: none;
            color: #23FCD8;
            background: none;
        }
        &:hover {
            background-color: #7649ffd3;
            cursor: pointer;
        }
        &:hover a {
            color: white;
            font-weight: bold;
        }
    }
}

.info-text {
    width: 1000px;
}

img {
    width: 300px;
    height: 300px;
    object-fit: cover;
    border-radius: 100%;
    object-position: top;
}

.arrow {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 400px;
    .arrow-pic {
        width: 80px;
        height: 80px;
        object-fit: contain;
        object-position: center;
        cursor: pointer;
    }
}