    section {
        background-color: black;
        height: 95vh;
    }
    
    .mat-body,
    .mat-body-1,
    .myprofil {
        color: white;
        display: flex;
        align-items: center;
        justify-content: space-around;
        padding-top: 250px;
        font: 400 14px/100px Roboto, "Helvetica Neue", sans-serif;
        letter-spacing: normal;
        p {
            font-size: 80px;
        }
        span {
            color: #7649ffd3;
            animation: changeSevdicolor 5s ease-in-out infinite;
        }
        .span2 {
            color: #2DFCD8;
        }
        .contact-button {
            width: 250px;
            text-align: center;
            margin-top: 35px;
            font-size: 20px;
            border: 2px solid #23FCD8;
            animation: ButtonChangeColor 5s ease-in-out infinite;
            a {
                text-decoration: none;
                color: white;
                background: none;
            }
            &:hover {
                background-color: #7649ffd3;
                cursor: pointer;
            }
            &:hover a {
                color: white;
                font-weight: bold;
            }
        }
    }
    
    @keyframes ButtonChangeColor {
        from {
            border: 2px solid #23FCD8;
        }
        to {
            border: 2px solid #7649ffd3;
        }
    }
    
    @keyframes changeSevdicolor {
        from {
            color: #23FCD8;
        }
        to {
            color: #7649ffd3;
        }
    }
    
    .info-text {
        width: 1000px;
        animation: AnimationPic 1s ease-in-out;
    }
    
    img {
        width: 300px;
        height: 300px;
        object-fit: cover;
        border-radius: 100%;
        object-position: top;
        z-index: 10;
    }
    
    @keyframes AnimationPic {
        from {
            transform: scale(0);
        }
        to {
            transform: scale(1);
        }
    }
    
    .arrow {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 400px;
        .arrow-pic {
            width: 80px;
            height: 80px;
            object-fit: contain;
            object-position: center;
            cursor: pointer;
        }
    }
    
    @media (max-width: 1000px) {
        .info-text {
            width: 200px;
        }
        .info-text p {
            font-size: 25px;
            text-align: center;
        }
        .info-text {
            margin-top: 15px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
        .myprofil {
            margin-top: -220px;
            display: flex;
            flex-direction: column-reverse;
            align-items: center;
            justify-content: center;
        }
        .profil-pic img {
            width: 200px;
            height: 200px;
            object-fit: cover;
        }
        .contact-button {
            width: 150px !important;
        }
        .contact-button a {
            font-size: 15px;
        }
        .arrow {
            display: none;
        }
        .mat-body,
        .mat-body-1,
        .myprofil {
            color: white;
            display: flex;
            align-items: center;
            justify-content: space-around;
            padding-top: 250px;
            font: 400 14px/44px Roboto, "Helvetica Neue", sans-serif;
            letter-spacing: normal;
        }
    }