<section>


    <div class="myprofil">
        <div class="info-text">
            <p>Hi, <br> I'm <span>Sevdi</span> Azizi <br> Front End develop<span class="span2">e</span>r
            </p>
            <div class="contact-button">
                <a href="#">Contact me</a>
            </div>

        </div>
        <div class="profil-pic">
            <img src="..../assets/img/sevdi.png" alt="">
        </div>


    </div>
    <div class="arrow">
        <img class="arrow-pic" src="../assets/img/arrow2.png" alt="">
    </div>
</section>