<section>
    <div id="myskills" class="my-skills-container">
        <h3>My Skills</h3>

        <div class="skill-boxes-container">
            <div class="skill-boxes" *ngFor="let img of Skills; let i = index;">

                <div class="circle">
                    <img id="skill-pics" src="{{Skills[i]}}" alt="">
                </div>
                <div class="skillname">
                    {{Skillname[i]}}
                </div>
            </div>
        </div>
    </div>
</section>